@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/mntsrrt/montserrat-hairline-webfont.eot");
  src: url("../fonts/mntsrrt/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mntsrrt/montserrat-hairline-webfont.woff") format("woff"), url("../fonts/mntsrrt/montserrat-hairline-webfont.ttf") format("truetype"), url("../fonts/mntsrrt/montserrat-hairline-webfont.svg#montserrathairline") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "montserrathairline", sans-serif; }

input, textarea, select {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px; }

html, body {
  font-family: "brandon-grotesque", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ffffff; }

.main {
  z-index: -3;
  margin: 10px; }

header {
  z-index: 1000;
  position: relative;
  width: 100%;
  background-color: #4A4A80;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: flex;
  -moz-box-lines: flex;
  box-lines: flex;
  -webkit-flex-wrap: flex;
  -moz-flex-wrap: flex;
  -ms-flex-wrap: flex;
  flex-wrap: flex;
  -webkit-box-shadow: 0px 13px 32px -5px #4a4a80;
  -moz-box-shadow: 0px 13px 32px -5px #4a4a80;
  box-shadow: 0px 13px 32px -5px #4a4a80; }
  header .menu-btn {
    color: #ffffff;
    margin-right: 6px;
    margin-bottom: 20px; }
    @media screen and (min-width: 641px) {
      header .menu-btn {
        display: none; } }
  header i {
    color: #ffffff; }
  header i.sm {
    font-size: .9em; }
  header .logo {
    top: 23px; }
  header .tagline {
    top: 14px; }
    header .tagline h3 {
      font-size: 16px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: left; }
  header nav {
    order: -1; }
    header nav a {
      text-decoration: none; }
    @media screen and (min-width: 641px) {
      header nav {
        order: 0; } }
  header .item {
    border-left: 1px solid #9d9dc6;
    background-color: #4A4A80;
    padding: 10px;
    height: 56px; }
  header .item label {
    font-size: .7em;
    font-family: "brandon-grotesque", sans-serif; }
  header .top-nav {
    display: none; }
    @media screen and (min-width: 641px) {
      header .top-nav {
        display: initial;
        font-size: 12px; } }

.side-nav {
  width: 240px;
  height: 100%;
  z-index: 999;
  position: absolute;
  padding-left: 10px;
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  background-color: #4A4A80;
  background-color: rgba(74, 74, 128, 0.98);
  color: #ffffff; }
  .side-nav .nav-list {
    font-family: "montserrathairline", sans-serif; }
  .side-nav a {
    text-decoration: none;
    color: #ffffff; }
  .side-nav ul {
    list-style-type: none; }
  @media screen and (min-width: 641px) {
    .side-nav {
      visibility: hidden; } }

.open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

footer {
  background-color: #4A4A80;
  color: #ffffff;
  z-index: 997;
  position: relative; }
  footer .social {
    display: none; }
    @media screen and (min-width: 641px) {
      footer .social {
        display: initial; } }
  footer a {
    color: #ffffff;
    text-decoration: none; }
  footer ul {
    list-style-type: none; }

.footer-logo {
  margin-top: 10px; }

.promotions {
  z-index: 4;
  position: relative;
  height: 45px;
  background-color: #ffffff;
  display: none; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  margin: -50px 5px 0 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

.bxslider {
  padding: 0; }

.index .search {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -40px;
  font-size: 1.2em; }
  @media screen and (min-width: 641px) {
    .index .search {
      font-size: 1.6em; } }

.signup-featured {
  margin-bottom: 30px; }

.mp-signup {
  display: none; }
  @media screen and (min-width: 641px) {
    .mp-signup {
      display: initial;
      background-color: #4A4A80;
      margin-top: 30px;
      padding-bottom: 20px;
      padding-top: 10px;
      text-align: center; }
      .mp-signup h2 {
        color: #ffffff;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: "montserrat", sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px; } }
    @media screen and (min-width: 641px) and (min-width: 641px) and (max-width: 788px) {
      .mp-signup h2 {
        font-size: .9em; } }
  @media screen and (min-width: 641px) {
      .mp-signup form {
        margin-top: 20px; }
      .mp-signup input {
        margin: 5px; }
      .mp-signup input[type="submit"] {
        margin-top: 15px;
        background-color: #ffffff; } }

.browse .search-row {
  margin-left: 0;
  margin-right: 0; }
.browse .search {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px 0;
  font-size: 1.2em; }
  @media screen and (min-width: 641px) {
    .browse .search {
      font-size: 1.6em; } }
.browse .search-row button {
  border: 0;
  border-radius: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
.browse .search-submit {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 17px;
  padding-bottom: 10px;
  margin: 25px 0;
  height: 70px; }
  .browse .search-submit i {
    width: 40px;
    height: 40px; }
  @media screen and (min-width: 641px) {
    .browse .search-submit {
      height: 81px; } }
.browse .category {
  padding-top: 15px;
  padding-left: 10px;
  height: 70px;
  margin: 25px 0;
  background-color: #4A4A80;
  color: #ffffff;
  font-size: .6em;
  text-transform: uppercase; }
  @media screen and (min-width: 641px) {
    .browse .category {
      height: 81px;
      padding-top: 22px;
      padding-left: 20px;
      font-size: .8em; } }

.browse-project {
  padding: 0 5px; }
  .browse-project .browse-card {
    background-color: #eaeaea;
    border: 4px solid #ffffff;
    position: relative;
    padding-bottom: 120px; }
  .browse-project .flickr {
    color: #eaeaea;
    font-size: .5em; }
    .browse-project .flickr img {
      margin-bottom: -25px; }
    .browse-project .flickr a {
      text-decoration: none;
      color: #eaeaea;
      margin-left: 5px; }
  .browse-project .alignment-cell {
    position: absolute;
    width: 90%;
    bottom: 0;
    margin: 0 auto; }
  .browse-project .browse-details {
    background-color: #4A4A80;
    padding: 3px;
    margin-bottom: 8px;
    color: #ffffff;
    border: solid 2px #eaeaea;
    border-radius: 5px;
    font-size: .5em;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 641px) {
      .browse-project .browse-details {
        font-size: .7em; } }
    @media screen and (min-width: 900px) {
      .browse-project .browse-details {
        font-size: 1em; } }
  .browse-project h4 {
    margin-bottom: -10px; }

.paginate {
  text-align: center;
  margin-bottom: 15px; }

.detail .donate {
  text-align: center; }
.detail .project-description a {
  text-decoration: none; }
.detail .comments-rule {
  border-top: 1px dotted #4A4A80;
  margin: 20px auto; }

.howto h5 {
  text-align: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; }
.howto img {
  margin-bottom: 15px; }
.howto input {
  width: 90%;
  margin: 0 auto 15px auto;
  display: block; }

.create-project h5 {
  text-align: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; }
.create-project .project_title {
  width: 100%;
  margin-bottom: 15px; }
.create-project img {
  border-radius: 5px; }
.create-project textarea {
  height: 200px; }
.create-project h4 {
  margin-top: 5px; }
.create-project .category {
  display: inline-block;
  width: auto;
  margin-right: 4px;
  padding-right: 8px; }
.create-project .input-box {
  position: relative; }
  .create-project .input-box input {
    display: block;
    padding: 10px 10px 10px 20px; }
  .create-project .input-box .unit {
    position: absolute;
    display: block;
    left: 5px;
    top: 7px;
    z-index: 9; }
.create-project #success {
  display: none;
  background-color: #ffffff;
  height: 800px;
  max-width: 1000px;
  position: absolute;
  top: 82px;
  z-index: 996; }
.create-project #success_message {
  background-color: #bdbdd9;
  margin: 50px auto;
  position: relative; }

.cart .project_wrapper {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px; }
.cart .donation {
  text-align: right; }
