@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/mntsrrt/montserrat-hairline-webfont.eot");
  src: url("../fonts/mntsrrt/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mntsrrt/montserrat-hairline-webfont.woff") format("woff"), url("../fonts/mntsrrt/montserrat-hairline-webfont.ttf") format("truetype"), url("../fonts/mntsrrt/montserrat-hairline-webfont.svg#montserrathairline") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "montserrathairline", sans-serif; }

h3 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left; }

html, body {
  font-family: "brandon-grotesque", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ffffff; }

header {
  z-index: 1000;
  position: relative;
  width: 100%;
  background-color: #4A4A80;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: flex;
  -moz-box-lines: flex;
  box-lines: flex;
  -webkit-flex-wrap: flex;
  -moz-flex-wrap: flex;
  -ms-flex-wrap: flex;
  flex-wrap: flex;
  -webkit-box-shadow: 0px 13px 32px -5px #4a4a80;
  -moz-box-shadow: 0px 13px 32px -5px #4a4a80;
  box-shadow: 0px 13px 32px -5px #4a4a80; }
  header .menu-btn {
    color: #ffffff;
    margin-right: 6px;
    margin-bottom: 20px; }
    @media screen and (min-width: 641px) {
      header .menu-btn {
        display: none; } }
  header i {
    color: #ffffff; }
  header i.sm {
    font-size: .9em; }
  header .logo {
    top: 23px; }
  header .tagline {
    top: 14px; }
  header nav {
    order: -1; }
    @media screen and (min-width: 641px) {
      header nav {
        order: 0; } }
  header .item {
    border-left: 1px solid #9d9dc6;
    background-color: #4A4A80;
    padding: 10px;
    height: 56px; }
  header .item label {
    font-size: .7em;
    font-family: "brandon-grotesque", sans-serif; }
  header .top-nav {
    display: none; }
    @media screen and (min-width: 641px) {
      header .top-nav {
        display: initial;
        font-size: 12px; } }

.side-nav {
  width: 240px;
  height: 100%;
  z-index: 999;
  position: absolute;
  padding-left: 10px;
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  background-color: #4A4A80;
  background-color: rgba(74, 74, 128, 0.98);
  color: #ffffff; }
  .side-nav .nav-list {
    font-family: "montserrathairline", sans-serif; }
  .side-nav a {
    text-decoration: none;
    color: #ffffff; }
  .side-nav ul {
    list-style-type: none; }
  @media screen and (min-width: 641px) {
    .side-nav {
      visibility: hidden; } }

.open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.main {
  z-index: -3;
  margin: 10px; }

.promotions {
  z-index: 4;
  position: relative;
  height: 45px;
  background-color: #ffffff;
  display: none; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  margin: -50px 5px 0 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

.bxslider {
  padding: 0; }
