.row .row {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "museo-slab", sans-serif;
  margin: 5px 0; }

h2 {
  margin-top: 25px; }

a {
  color: #4A4A80;
  text-decoration: none; }

input,
textarea,
select {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%; }

html,
body {
  background-color: #FFF;
  font-family: "sofia-pro", sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%; }

.main {
  margin: 10px;
  z-index: -3; }

header {
  background-color: #4A4A80;
  -webkit-box-shadow: 0px 13px 32px -5px #4a4a80;
  -moz-box-shadow: 0px 13px 32px -5px #4a4a80;
  box-shadow: 0px 13px 32px -5px #4a4a80;
  position: relative;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: flex;
  -moz-box-lines: flex;
  box-lines: flex;
  -webkit-flex-wrap: flex;
  -moz-flex-wrap: flex;
  -ms-flex-wrap: flex;
  flex-wrap: flex; }
  header nav {
    order: -1; }
    @media screen and (min-width: 641px) {
      header nav {
        order: 0; } }
  header .menu-btn {
    color: #FFF;
    margin-right: 6px;
    margin-bottom: 20px; }
    @media screen and (min-width: 641px) {
      header .menu-btn {
        display: none; } }
  header i {
    color: #FFF; }
  header i.sm {
    font-size: .9em; }
  header .logo {
    top: 13px; }
    @media screen and (min-width: 641px) {
      header .logo {
        top: 23px; } }
  header .tagline {
    top: 18px; }
    header .tagline h3 {
      color: #FFF;
      font-size: 1em;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
      text-align: left; }
    @media screen and (min-width: 641px) {
      header .tagline {
        top: 30px; } }
  header .item {
    background-color: #4A4A80;
    border-left: 1px solid #9d9dc6;
    height: 56px;
    padding: 12px; }
  header .item label {
    font-family: "sofia-pro", sans-serif;
    font-size: .7em;
    font-weight: 300; }
  header .top-nav {
    display: none; }
    @media screen and (min-width: 641px) {
      header .top-nav {
        display: initial;
        font-size: 1em; } }

.side-nav {
  background-color: #4A4A80;
  background-color: rgba(74, 74, 128, 0.95);
  color: #FFF;
  height: 100%;
  padding-left: 10px;
  position: absolute;
  width: 240px;
  z-index: 999;
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease; }
  .side-nav a {
    color: #FFF; }
  .side-nav h3 {
    margin-top: 20px; }
  .side-nav .nav-list {
    font-family: "museo-slab", sans-serif; }
  .side-nav ul {
    list-style-type: none; }
  @media screen and (min-width: 641px) {
    .side-nav {
      visibility: hidden; } }

.user_dropdown {
  display: inline-block; }

.open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.usernav_links {
  display: none;
  background-color: #4A4A80;
  border-top: 1px solid #9d9dc6;
  color: #FFF;
  margin: 0;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 56px;
  width: 19.4%; }
  .usernav_links a {
    color: #FFF; }

a:focus {
  outline: none; }

.show_usernav {
  display: initial; }

.usernav_links ul {
  list-style-type: none;
  padding: 0; }

.modalDialog {
  background-color: #4A4A80;
  background-color: rgba(74, 74, 128, 0.9);
  bottom: 0;
  display: none;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  overflow-y: scroll;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: -20px;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  width: 100%;
  z-index: 99999; }
  .modalDialog input[type="radio"] {
    width: 35px; }
  .modalDialog input[type="checkbox"] {
    width: 35px; }
  .modalDialog p {
    margin-bottom: 10px;
    margin-top: -5px; }
  @media screen and (min-width: 641px) {
    .modalDialog {
      overflow-y: hidden; } }

.modalDialog:target {
  display: initial;
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  background-color: #FFF;
  -webkit-box-shadow: 0px 2px 5px 0px #4a4a80;
  -moz-box-shadow: 0px 2px 5px 0px #4a4a80;
  box-shadow: 0px 2px 5px 0px #4a4a80;
  margin: 5% auto;
  max-width: 340px;
  padding: 5px 20px 13px 20px;
  position: relative; }

.close {
  background: #4A4A80;
  border-radius: 12px;
  color: #FFF;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none; }

.close:hover {
  background: #00d9ff; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    display: none; }

  .flex-direction-nav .flex-next {
    display: none; } }
.search-row {
  margin: 0;
  padding: 0; }

.search {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 1em;
  margin: 25px 0;
  padding-bottom: 20px;
  padding-top: 20px; }
  @media screen and (min-width: 641px) {
    .search {
      font-size: 1.6em; } }

.search-submit {
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  border-top: 1px solid black;
  height: 66px;
  margin: 25px 0;
  padding-bottom: 10px;
  padding-top: 17px; }
  @media screen and (min-width: 641px) {
    .search-submit {
      height: 81px; } }

.index .search-row {
  margin: 0 auto; }
.index .search,
.index .search-submit {
  margin: 0; }

.category {
  background-color: #4A4A80;
  color: #FFF;
  font-size: .6em;
  height: 66px;
  margin: 25px 0;
  text-transform: uppercase; }
  .category a {
    color: #FFF; }
  .category a:hover {
    color: #ddddec; }
  .category ul {
    margin: 0;
    padding: 0;
    padding-top: 18px; }
    @media screen and (min-width: 641px) {
      .category ul {
        padding-top: 22px; } }
  .category ul li {
    list-style-type: none; }
  .category ul ul {
    display: none;
    background-color: #4A4A80;
    left: 0;
    padding-left: 12px;
    padding-right: 5px;
    position: absolute;
    text-indent: -5px;
    width: 100%;
    z-index: 3000; }
    .category ul ul li {
      padding-top: 8px; }
    .category ul ul li:last-of-type {
      padding-bottom: 10px; }
  .category li:hover ul {
    display: block; }
  @media screen and (min-width: 641px) {
    .category {
      font-size: .8em;
      height: 81px; } }

footer {
  background-color: #4A4A80;
  color: #FFF;
  position: relative;
  z-index: 997; }
  footer .social {
    display: none; }
    @media screen and (min-width: 641px) {
      footer .social {
        display: initial; } }
  footer a {
    color: #FFF; }
  footer ul {
    list-style-type: none; }

.footer-logo {
  margin-top: 10px; }

.promotions {
  background-color: #FFF;
  display: none;
  height: 45px;
  position: relative;
  z-index: 4; }

.flexslider {
  border: 0;
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 0; }

.flexslider .row {
  margin: 0; }

.slides .column {
  padding: 0; }

.flex-control-paging li a {
  margin-top: -70px; }

.detail .flex-caption {
  left: 0 !important; }
.detail .flex-direction-nav {
  display: none !important; }

.slidercaption {
  border-radius: 5px;
  font-size: .9em;
  left: 65%;
  padding: 10px;
  position: absolute;
  top: 15px;
  width: 34%; }

.slidercaption.beach, .slidercaption.salad {
  left: 3%;
  top: 25px; }

.mp-photo-caption-container {
  height: 100%;
  padding: 0; }

.mp-photo-caption {
  padding: 20px; }

.puppies {
  background-color: #C5E66E;
  background-color: rgba(197, 230, 110, 0.9); }

.beach {
  background-color: #9B505E;
  background-color: rgba(155, 80, 94, 0.8);
  color: #FFF; }
  .beach a {
    color: #FFF; }

.salad {
  background-color: #F2A574;
  background-color: rgba(242, 165, 116, 0.8); }

.signup-featured {
  margin-bottom: 20px;
  margin-top: 30px; }

.mp-signup {
  display: none; }
  @media screen and (min-width: 641px) {
    .mp-signup {
      background-color: #4A4A80;
      display: initial;
      max-height: 425px;
      padding-top: 20px;
      text-align: center; }
      .mp-signup h2 {
        color: #FFF;
        font-family: "museo-slab", serif;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0 auto;
        width: 90%; } }
    @media screen and (min-width: 641px) and (min-width: 641px) and (max-width: 788px) {
      .mp-signup h2 {
        font-size: .9em; } }
  @media screen and (min-width: 641px) {
      .mp-signup form {
        margin: 20px auto 0 auto; }
      .mp-signup input {
        margin-top: 8px; }
      .mp-signup input[type="submit"] {
        background-color: #FFF;
        margin-top: 15px; } }

.featproj h2 {
  margin-top: 0; }

.fp-caption {
  margin-bottom: 15px; }

.browse .row {
  margin: 0; }

.browse-project h4 {
  margin-bottom: -10px; }
.browse-project .card-container {
  background-color: #FFF;
  padding: 10px; }
.browse-project .browse-card {
  border: 1px solid #EAEAEA;
  padding-bottom: 120px;
  position: relative; }
  .browse-project .browse-card .flickr {
    color: #EAEAEA;
    font-size: .5em; }
    .browse-project .browse-card .flickr img {
      margin-bottom: -25px;
      width: 100%; }
    .browse-project .browse-card .flickr a {
      color: #EAEAEA; }
    .browse-project .browse-card .flickr .caption {
      padding-left: 5px; }
  .browse-project .browse-card .text-contents {
    padding-left: 15px;
    padding-right: 15px; }
  .browse-project .browse-card .alignment-cell {
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%; }
  .browse-project .browse-card .browse-details {
    border-bottom: solid 1px #EAEAEA;
    border-top: solid 1px #EAEAEA;
    font-size: .5em;
    margin-bottom: 8px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 641px) {
      .browse-project .browse-card .browse-details {
        font-size: .7em; } }
    @media screen and (min-width: 900px) {
      .browse-project .browse-card .browse-details {
        font-size: 1em; } }
  .browse-project .browse-card .browse-details:not(.last) {
    border-right: 1px solid #EAEAEA; }

.paginate {
  text-align: center;
  margin-bottom: 15px; }

.detail .donate {
  text-align: center; }
.detail .project-description a {
  text-decoration: none; }
.detail .comments-rule {
  border-top: 1px dotted #4A4A80;
  margin: 20px auto; }
.detail p {
  margin-top: 0; }
.detail .title-block {
  margin-top: 25px; }
.detail .project-metrics {
  font-size: 1.2em;
  margin-top: 50px;
  text-align: center; }

.howto h5 {
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  text-align: center; }
.howto img {
  margin-bottom: 15px; }
.howto input {
  display: block;
  margin: 0 auto 15px auto;
  width: 90%; }

.create-project h4 {
  margin-top: 5px; }
.create-project h5 {
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  text-align: center; }
.create-project .project_title {
  margin-bottom: 15px;
  width: 100%; }
.create-project img {
  border-radius: 5px; }
.create-project textarea {
  height: 200px; }
.create-project .create-category {
  display: inline-block;
  margin-right: 4px;
  padding-right: 8px;
  width: auto; }
.create-project .input-box {
  position: relative; }
  .create-project .input-box input {
    display: block;
    padding: 10px 10px 10px 20px; }
  .create-project .input-box .unit {
    display: block;
    left: 5px;
    position: absolute;
    top: 7px;
    z-index: 9; }
.create-project #success {
  background-color: #FFF;
  display: none;
  height: 800px;
  max-width: 1000px;
  position: absolute;
  top: 82px;
  z-index: 996; }
.create-project #success_message {
  background-color: #bdbdd9;
  margin: 50px auto;
  position: relative; }

.cart .project_wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px; }
.cart .donation {
  text-align: right; }

.profile_nav {
  height: 2em;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0; }

.profile_nav li {
  display: inline;
  float: left;
  margin-right: 0.13em; }

.profile_nav li a {
  background-color: #ccc;
  border: 0.06em solid #000;
  border-bottom: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #000;
  display: block;
  padding: 0 1em;
  text-decoration: none; }

.profile_nav li a:hover {
  background: #3cf;
  color: #fff;
  text-decoration: none; }

.profile_nav li#current a {
  background-color: #777;
  color: #fff; }

.profile_nav li#current a:hover {
  background: #39C; }

/* requires extra specificity to override .row .row */
.row .user_info {
  border: 1px solid #EAEAEA;
  padding: 20px 30px;
  margin: -8px 0 15px 0; }

.profile_photo div {
  margin: 0 auto; }
  .profile_photo div button {
    width: 80%;
    margin: 10px 10%; }
  .profile_photo div div {
    border: 1px solid #EAEAEA;
    max-width: 350px;
    height: 200px; }
