.browse {
  .search {
    margin: 25px 0;
  }
}

.browse-project {
  padding: 0 5px;
  .flickr {
    img {
      margin-bottom:-25px;
    }
    color: $ltgray;
    font-size: .5em;
    a {
      text-decoration: none;
      color: $ltgray;
      margin-left: 5px;
    }
  }
  .details {
    padding: 0 15px;
  }
  .browse-details {
    background-color: $deepColor1;
    color: $white;
    border: solid 2px $white;
    border-radius: 5px;
    font-size: .5em;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: $break_sm) {
      font-size: 1em;
    }
  }
  h4 {
    margin-bottom: -10px;
  }
}

.paginate {
  text-align: center;
  margin-bottom: 15px;
}