.create-project {
  h4 {
    margin-top: 5px;
  }

  h5 {
    border-bottom: 1px solid $ltgray;
    border-top: 1px solid $ltgray;
    text-align: center;
  }

  .project_title {
    margin-bottom: 15px;
    width: 100%;
  }

  img {
    border-radius: $borderRadius;
  }

  textarea {
    height: 200px;
  }

  .create-category {
    display: inline-block;
    margin-right: 4px;
    padding-right: 8px;
    width: auto;
  }

  .input-box { 
    position: relative; 
    
    input { 
      display: block;  
      padding: 10px 10px 10px 20px; 
    }
    
    .unit { 
      display: block; 
      left: 5px; 
      position: absolute; 
      top: 7px; 
      z-index: 9; 
    }
  }

  #success {
    background-color: $white;
    display: none;
    height: 800px;
    max-width: 1000px;
    position: absolute;
    top: 82px;
    z-index: 996;
  }

  #success_message {
    background-color: lighten($deepColor1, 40);
    margin: 50px auto;
    position: relative;
  }
}

