footer {
  background-color: $deepColor1;
  color: $white;
  position:relative;
  z-index: 997;

  .social {
    display: none;
    @media screen and (min-width: $break_sm) {
      display: initial;
    }
  }

  a {
    color: $white;
  }
  
  ul {
    list-style-type: none;
  }
}

.footer-logo {
  margin-top: 10px;
}

