footer {
  background-color: $deepColor1;
  color: $white;
  z-index: 997;
  position:relative;
  .social {
    display: none;
    @media screen and (min-width: $break_sm) {
      display: initial;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
}

.footer-logo {
  margin-top: 10px;
}

