.promotions {
  background-color: $white;
  display: none;
  height: 45px;
  position: relative;
  z-index: 4;
}

@import 'slider';

.signup-featured {
  margin-bottom: 20px;
  margin-top: 30px;
}

.mp-signup {
  display: none;
  @media screen and (min-width: $break_sm) {
    background-color: $deepColor1;
    display: initial;
    max-height: 425px;
    padding-top: 20px;
    text-align: center;
    h2 {
      color: $white;
      font-family: $header2;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0 auto;
      width: 90%;
      @media screen and (min-width: $break_sm) and (max-width: 788px) {
        font-size: .9em;
      }
    }
    form { 
      margin: 20px auto 0 auto; 
    } 
    input {
      margin-top: 8px;
    }
    input[type="submit"] { 
      background-color: $white; 
      margin-top: 15px;
    }
  }
}

.featproj {
  h2 {
    margin-top: 0;
  }
}

.fp-caption {
  margin-bottom: 15px;
}

