.howto {
  h5 {
    border-bottom: 1px solid $ltgray;
    border-top: 1px solid $ltgray;
    text-align: center;
  }

  img {
    margin-bottom: 15px;
  }

  input {
    display: block;
    margin: 0 auto 15px auto;
    width: 90%;
  }
}