.flexslider {
  padding: 0;
  border: 0;
}

.index {
  .flexslider {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.flex-control-paging li a {
  margin-top: -70px;
}


.detail {
  .flex-direction-nav {
    display: none !important;
  }
  .flex-caption{
    left:0 !important;
  }
}