@import "bourbon";

$deepColor1: #4A4A80;
$ltgray: #EAEAEA;
$ltgreen: #C5E66E;
$white: #FFF;

$headerFonts: 'museo-slab', sans-serif;
$bodyFonts:  'sofia-pro', sans-serif;
$header2: 'museo-slab', serif;
  
$break-sm: 641px;

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $headerFonts;
  margin: 5px 0;
}

h2 {
  margin-top: 25px;
}

a {
  color: $deepColor1;
  text-decoration: none;
}

input, 
textarea, 
select {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

html, 
body {
  background-color: $white;
  font-family: $bodyFonts;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.main {
  margin: 10px;
  z-index: -3;
}

@import 'topNav';
@import 'signup';
@import 'flexslider';
@import 'search';
@import 'footer';
@import 'homepage';
@import 'slideroverride';
@import 'browse';
@import 'detail';
@import 'howto';
@import 'createProject';
@import 'cart';






